{% extends "layout.html" %}

{% block content %}
  <section class="notification-panel">
        <span class="notification-header-btns">
            {% if session["musician"] or session["band"] %}
                <a href="/new-notification" class=" btn btn-success btn-xs">Create new notification</a>
            {% else %}
                <span>One needs to be authorized in order to create notifications...</span>
            {% endif %}
        </span>
        <form class="notification-search input-group" method="POST">
                <span class="notification-search-btn input-group-btn">
                    <button type="submit" class="btn btn-sm btn-info">Search</button>
                </span>
        </form>
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Instruments</th>
                <th>Genres</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    {% if notification.publisher_role == "musician" %}
                        <tr class="bg-light">
                    {% elif notification.publisher_role == "band" %}
                        <tr class="bg-dark" style="color: white;">
                    {% endif %}
                            <td class="notification-name">
                                <a href="/notification/{{notification.id}}">{{notification.title}}</a>
                                <br>
                                <small>Posted {{notification.date_created}}</small>
                            </td>
                            <td class="notification-publisher">
                                {{ notification.publisher_name }}
                            </td>
                            <td class="notification-instrument">
                                {{ notification.instrument }}
                            </td>
                            <td class="notification-genres">
                                {{notification.genre}}
                            </td>
                            <td class="notification-location">
                                {{notification.location|capitalize}}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}