{% extends "layout.html" %}

{% block content %}
<section class="notification-panel">
    <span class="notification-header-btns">
        <a href="/new-notification" class=" btn btn-success btn-xs">Create new notification</a>
        <a href="/notifications" class=" btn btn-dark btn-xs">All notifications</a>
    </span>
    {% if not notifications %}
        You have not created any notifications so far.
    {% else %}
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Instruments</th>
                <th>Genres</th>
                <th>Location</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    {% if notification.publisher_role == "musician" %}
                        <tr class="bg-light">
                    {% elif notification.publisher_role == "band" %}
                        <tr class="bg-dark" style="color: white;">
                    {% endif %}
                            <td class="notification-name">
                                <a href="/notification/{{notification.id}}">{{notification.title}}</a>
                            </td>
                            <td class="notification-publisher">
                                {{ notification.publisher_name }}
                            </td>
                            <td class="notification-instrument">
                                {{ notification.instrument }}
                            </td>
                            <td class="notification-genres">
                                {{notification.genre}}
                            </td>
                            <td class="notification-location">
                                {{notification.location|capitalize}}
                            </td>
                            <td class="notification-operations">
                                <a href="/edit-notification/{{ notification.id }}">Edit</a>
                                {% if notification.hidden == 0 %}
                                    <a href="/hide-notification/{{ notification.id }}">Hide</a>
                                {% else %}
                                    <a href="/unhide-notification/{{ notification.id }}">Unhide</a>
                                {% endif %}
                                <a href="/delete-notification/{{ notification.id }}">Delete</a>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>

{% endblock %}