{% extends "layout.html" %}

{% block content %}
<section class="notification-panel">
    {% with messages = get_flashed_messages() %}
        {% if messages %}    
            <div class="success-alert-wrap" id="success-alert">
                <div class="success-alert hvr-wobble-skew">{{messages[0]}}</div>
            </div>
        {% endif %}
    {% endwith %}
    <span class="notification-header-btns">
        <a href="/new-notification" class="btn assonance-primary-btn">Create new notification</a>
        <a href="/notifications" class=" btn assonance-secondary-btn">Show all notifications</a>
    </span>
    {% if not notifications %}
        <div class="no-content-div error-alert">
            <i class="bx bx-comment-error"></i> You have not created any notifications so far.
        </div>
    {% else %}
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th id="th-title">Title</th>
                <th id="th-publisher">Publisher</th>
                <th id="th-instruments">Instrument</th>
                <th id="th-genres">Genre</th>
                <th id="th-location">Location</th>
                <th id="th-date">Date</th>
                <th id="th-operations">Operations</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    {% if notification.publisher_role == "musician" %}
                        <tr class="bg-light">
                    {% elif notification.publisher_role == "band" %}
                        <tr class="bg-dark" style="color: white;">
                    {% endif %}
                            <td class="notification-name">
                                <a href="/notification/{{notification.id}}">{{notification.title}}</a>
                            </td>
                            <td class="notification-publisher">
                                {{ notification.publisher_name }}
                            </td>
                            <td class="notification-instrument">
                                {{ notification.instrument }}
                            </td>
                            <td class="notification-genres">
                                {{notification.genre}}
                            </td>
                            <td class="notification-location">
                                {{notification.location|capitalize}}
                            </td>
                            <td class="notification-date">
                                {{notification.created_on}}
                            </td>
                            <td class="notification-operations">
                                <a href="/edit-notification/{{ notification.id }}" class="btn assonance-edit-btn">Edit</a>
                                {% if notification.hidden == 0 %}
                                <form action="/hide-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn assonance-hide-btn">Hide</a>
                                {% else %}
                                <form action="/unhide-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn assonance-unhide-btn">Unhide</button>
                                {% endif %}
                                </form>
                                <form action="/delete-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn assonance-delete-btn">Delete</button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>

{% endblock %}