{% extends "layout.html" %}

{% block content %}
<section class="notification-panel">
    <span class="notification-header-btns">
        <a href="/new-notification" class="btn assonance-primary-btn">Create new notification</a>
        <a href="/notifications" class=" btn assonance-secondary-btn">All notifications</a>
    </span>
    {% if not notifications %}
        You have not created any notifications so far.
    {% else %}
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Instruments</th>
                <th>Genres</th>
                <th>Location</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    {% if notification.publisher_role == "musician" %}
                        <tr class="bg-light">
                    {% elif notification.publisher_role == "band" %}
                        <tr class="bg-dark" style="color: white;">
                    {% endif %}
                            <td class="notification-name">
                                <a href="/notification/{{notification.id}}">{{notification.title}}</a>
                            </td>
                            <td class="notification-publisher">
                                {{ notification.publisher_name }}
                            </td>
                            <td class="notification-instrument">
                                {{ notification.instrument }}
                            </td>
                            <td class="notification-genres">
                                {{notification.genre}}
                            </td>
                            <td class="notification-location">
                                {{notification.location|capitalize}}
                            </td>
                            <td class="notification-operations">
                                <a href="/edit-notification/{{ notification.id }}" class="btn btn-warning">Edit</a>
                                {% if notification.hidden == 0 %}
                                <form action="/hide-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn btn-dark">Hide</a>
                                {% else %}
                                <form action="/unhide-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn btn-light">Unhide</button>
                                {% endif %}
                                </form>
                                <form action="/delete-notification" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                    <input type="hidden" name="notification_id" value="{{ notification.id }}">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</section>

{% endblock %}