{% extends "layout.html" %}

{% block content %}

<section class="notification-section">
    <h2>{{notification.title}}</h2>
    <small>Posted by {{notification.publisher_name}} on {{notification.created_on}}</small>

    <p>{{notification.description}}</p>

    <p>Genre: {{notification.genre}}</p>
    <p>Instruments: {{notification.instrument}}</p>
    <p>Location: {{notification.location|capitalize}}</p>
    {% if session["user_id"] == notification.publisher_id|int %}
        <a class="btn assonance-success-btn disabled">Apply</a>
    {% else %}
        <a href="/apply/{{notification.id}}" class=" btn assonance-success-btn">Apply</a>
    {% endif %}
</section>
{% endblock %}