{% extends "layout.html" %}

{% block content %}

  <section class="notification-panel">
        <span class="notification-header-btns">
            {% if current_user.is_authenticated %}
                {% if current_user.has_roles("musician") %}
                    <a href="#" class=" btn btn-dark btn-xs">My notifications</a>
                {% elif current_user.has_roles("band") %}
                    <a href="#" class=" btn btn-dark btn-xs">My notifications</a>
                {% endif %}
                <a href="/notifications/new-notification" class=" btn btn-success btn-xs">Create new notification</a>
            {% else %}
                <span>One needs to be authorized in order to create notifications...</span>
            {% endif %}
        </span>
        <div class="notification-search input-group">
            <input type="text" placeholder="Genres, band name, location..." class="input-sm form-control">
            <span class="notification-search-btn input-group-btn"><button type="button" class="btn btn-sm btn-info">Search</button> </span>
        </div>
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Instrument</th>
                <th>Genres</th>
                <th>Location</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody>
                {% for notification in notifications %}
                    {% if notification.publisher_role == "musician" %}
                        <tr class="bg-light">
                    {% elif notification.publisher_role == "band" %}
                        <tr class="bg-dark" style="color: white;">
                    {% endif %}
                            <td class="notification-name">
                                <a href="/notification/{{notification.id}}">{{notification.title}}</a>
                                <br>
                                <small>Posted {{notification.date_created}}</small>
                            </td>
                            <td class="notification-publisher">
                                {{ notification.publisher_name }}
                            </td>
                            <td class="notification-instrument">
                                {% for instrument in notification.instruments %}
                                    {{ instrument }}
                                {% endfor %}
                            </td>
                            <td class="notification-genres">
                                {% for genre in notification.genres %}
                                    {{ genre }}
                                {% endfor %}
                            </td>
                            <td class="notification-location">
                                <span class="label label-primary">{{notification.country}}</span>
                            </td>
                            <td class="notification-likes">
                                {{notification.likes}}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}