{% extends "layout.html" %}

{% block content %}

  <section class="notification-panel">
        <span class="notification-header-btns">
            {% if current_user.is_authenticated %}
                <a href="#" class=" btn btn-dark btn-xs">My notifications</a>
            {% endif %}
            <a href="#" class=" btn btn-success btn-xs">Create new notification</a>
        </span>
        <div class="notification-search input-group">
            <input type="text" placeholder="Genres, band name, location..." class="input-sm form-control">
            <span class="notification-search-btn input-group-btn"><button type="button" class="btn btn-sm btn-info">Search</button> </span>
        </div>
        <table class="table table-hover p-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Band Title</th>
                <th>Instrument</th>
                <th>Genres</th>
                <th>Location</th>
                <th>Likes</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="notification-name">
                        <a href="project_details.html">Metal guitarist wanted!</a>
                        <br>
                        <small>Posted 27.11.2020</small>
                    </td>
                    <td class="notification-instrument">
                        Metallica
                    </td>
                    <td class="notification-instrument">
                        Guitar
                    </td>
                    <td class="notification-genres">
                        Melodic death metal, Metalcore
                    </td>
                    <td class="notification-locations">
                        <span class="label label-primary">Helsinki, FI</span>
                    </td>
                    <td class="notification-likes">
                        3
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}