{% extends "layout.html" %}

{% block content %}

{% macro render_field(field, placeholder=None) %}
{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<div style="width: 80%">
    <div>
    <legend>Create new notification</legend>
    {{error}}
    <form method="POST" accept-charset="UTF-8" role="form">
    {{ form.csrf_token }}
        {{ render_field(form.title, placeholder="Title") }}
        {{ render_field(form.description, placeholder="Describe your notification") }}
        {{ render_field(form.publisher_id, value=current_user.get_id()) }}
        {{ render_field(form.instrument, placeholder="Select the instrument you play") }}
        {{ render_field(form.genre, placeholder="Select the genre you are playing in") }}
        {{ render_field(form.country, placeholder="Select the country you are situated at") }}
    <button type="submit" name="submit">Submit</button>
    </form>  
    </div>
</div>

{% endblock %}