{% extends "layout.html" %}

{% block content %}
<section class="application-panel">
    {% with messages = get_flashed_messages() %}
        {% if messages %}    
            <div class="success-alert-wrap" id="success-alert">
                <div class="success-alert hvr-wobble-skew">{{messages[0]}}</div>
            </div>
        {% endif %}
    {% endwith %}
    {% if not applications %}
        <div class="no-content-div error-alert">
            <i class="bx bx-comment-error"></i> You haven´t received any applications in response to your notifications so far.
        </div>
    {% else %}
        {% for application in applications %}
            <figure class="card application-card">
                <div class="card-body application-card-body">
                    <h3 class="application-card-title">From <strong>{{application.user_name}}</strong> in response to "<em>{{application.notification_title}}</em>"</h3>
                    <small class="application-card-posted-on">Posted on {{application.created_on}}</small>
                    <p class="application-card-message">{{application.message}}</p>
                    <div class="application-card-btns">
                        <a href="/application/{{session['user_id']}}/{{application.id}}" class="btn assonance-success-btn">Open application</a>
                        <a href="mailto:{{application.user_email}}" class="btn assonance-primary-btn">Write on email</a>
                        <form action="/delete-application" method="post">
                            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                            <input type="hidden" name="application_id" value="{{ application.id }}">
                            <button type="submit" class="btn assonance-delete-btn">Delete</a>
                        </form>
                    </div>
                </div>
            </figure>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}