.profile-section {
    display: flex;
    flex-direction: row;
}

.profile-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 400px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    padding-top: 2em;
}

.profile-header h2 {
    padding: .5em
}

.profile-header h4 {
    margin: 1em;
    border: 5px solid transparent;
    background-color: black;
    border-radius: 20%;
    color: white;
}

.profile-info-section {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 500px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding-top: 2em;
}

.profile-info-section h2 {
    padding: .5em;
    margin-bottom: 2em
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-user-info {
    padding-bottom: 20px;
    margin-bottom: 2em
}

.profile-user-info .profile-user-details {
	position: relative;
	padding: 4px 0;
}

.profile-user-info .profile-user-details .profile-user-details-label {
	width: 110px;
	float: left;
	bottom: 0;
	font-weight: bold;
	left: 0;
	position: absolute;
	text-align: right;
	top: 0;
	width: 110px;
	padding-top: 4px;
}

.profile-user-info .profile-user-details .profile-user-details-value {
	margin-left: 120px;
}

.profile-social {
    margin: 0 auto;
}

.profile-social li {
	padding: 4px 0;
}

.profile-social li > i {
	padding-top: 6px;
}

@media only screen and (max-width: 767px) {
	.profile-user-info .profile-user-details .profile-user-details-label {
		float: none;
		position: relative;
		text-align: left;
	}
	.profile-user-info .profile-user-details .profile-user-details-value {
		margin-left: 0;
	}
	.profile-social {
		margin-top: 20px;
	}
}

.notification-header-btns {
    float: right;
    margin-bottom: 1em;
}

.notification-search {
    margin-bottom: 1em;
}

.notification-search-btn {
    margin: auto 1em;
}