@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.side-navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 12em;
    height: 100%;
    position: fixed;
    background-color: #42295A;
    transition: opacity .5s ease-out;
    opacity: 1;
}

.side-navbar-active {
    opacity: 0;
    margin-left: -300px;
}

.nav-link:not(:first-child):active,
.nav-link:not(:first-child):focus,
.nav-link:not(:first-child):hover {
    background-color: #ffffff26;
    cursor: pointer;
}

.nav-link:first-child {
    margin-top: .5em;
    text-align: center;
    margin-bottom: 2em;
    font-size: 23px;
}

.copyright {
    text-align: center;
    color: #bc3100 !important;
}
  
.main-container {
    margin-left: 190px;
    transition: 0.5s;
}

.main-container-active {
    margin-left: 0px;
}

.home-page-header {
    background: #fff;
    background-size: cover;
    width: auto;
    height: 100%;
    min-height: 100vh;
}

.home-page-wrapper {
	width: 80%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
    padding: 2%;
}

.home-page-wrapper > * {
    margin: 1em;
}

.home-page-wrapper article h2 {
    text-align: center;
    margin-bottom: 1em;
}

.describing-gif {
    background-image: url(https://i.gifer.com/4F4O.gif);
    width: 100%;
    height: 280px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    background-size: cover;
}

.menu-btn {
    position: relative;
    top: 1em;
    left: 12.5em;
    background-color: #bc3100;
    color: #fff;
    transition: 0.5s;
}

.menu-btn-active {
    left: .5em;
}

@media screen and (max-width: 750px) {
    .side-navbar {
        opacity: 0;
        margin-left: -300px;
    }

    .side-navbar-active {
        opacity: 1;
        margin-left: 0px;
    }

    .main-container {
        margin-left: 0px;
    }

    .main-container-active {
        margin-left: 190px;
    }

    .menu-btn {
        left: .5em;
    }

    .menu-btn-active {
        left: 12.5em;
    }
}

.logging-form-wrap, .notification-form-wrap {
    border: none;
    text-align: center;
}

.logging-form-body, .notification-form-body, .apply-form-section {
    width: 100%;
    margin: auto;
    padding: 5% 20%;
}

.logging-form > *, .notification-form > *, .apply-form-section > *{
    margin: 1em auto;
    text-align: left;
}

.logging-form button, .notification-form button, .apply-form-section button {
    width: 6em;
}

.notification-panel {
    display: flex;
    flex-direction: column;
}

.notification-panel-warning {
    color: #e7d003;
    background: transparent;
    padding: 10px;
    font-weight: 700;
}

.notification-header-btns {
    place-self: flex-end;
    margin: 2em;
    flex-direction: column;
    display: flex;
}

.notification-header-btns a {
    margin: .25em auto;
}

.notification-name a {
    color: #bc3100;
}

.notification-operations {
    display: flex;
}

.notification-operations > * {
    margin: 0 1em;
}

.notification-operations > *:first-child {
    margin-left: 0;
}

.notification-section, .application-section {
    text-align: center;
    padding: 5% 25%;
}

.notification-section p, .application-section p {
    margin: 2em auto;
}

.application-section form > * {
    margin: .5em;
}

.application-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 5%;
}

.application-card {
    width: 28%;
    margin: 1em 2em;
    text-align: center;
}

.application-card-message {
    overflow-y: scroll;
    height: 100px;
}

.application-card-btns {
    margin: .5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.application-card-btns a {
    width: 100%;
    max-width: 10em;
    white-space: normal;
    margin: .5em auto;
}

@media screen and (max-width: 900px) {
    .application-panel figure {
        width: 50%;
    }
}

@media screen and (max-width: 750px) {
    .application-panel figure {
        width: 100%;
    }
}

.success-alert-wrap {
    position: absolute;
    left: 50%;
}

.success-alert {
    border: 1px solid #00514f;
    background: transparent;
    color: #00514f;
    position: relative;
    border-radius: .25rem;
    padding: 0.5em;
    cursor: pointer;
    left: -50%;
    transition: .5s ease-out;
}

.error-alert {
    color: #7a0d38;
}

.no-content-div {
    margin: auto;
    font-size: 1.5em;
}