{% extends "layout.html" %}

{% block content %}

<section class="profile-section">
    <header class="profile-header">
        <h2>{{musician.firstname}} {{musician.lastname}}</h2>
        {% if musician.get_avatar() == None %}
            <div class="profile-avatar">
                <img src="{{url_for('static', filename='img/avatar_default.png')}}" width="240" height="200" alt=""/>
            </div>
        {% endif %}
        <h4>Musician</h4>
        <span>Member since: {{musician.date_created}}</span>
    </header>

    <section class="profile-info-section">
        <h2>About</h2>
        <div class="profile-info">
            <div class="profile-user-info">
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            First Name
                        </div>
                        <div class="profile-user-details-value">
                            {{musician.firstname}}
                        </div>
                    </div>
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            Last Name
                        </div>
                        <div class="profile-user-details-value">
                            {{musician.lastname}}
                        </div>
                    </div>
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            Email
                        </div>
                        <div class="profile-user-details-value">
                            {{musician.email}}
                        </div>
                    </div>
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            Instruments
                        </div>
                        <div class="profile-user-details-value">
                            {{musician.instruments}}
                        </div>
                    </div>
                </div>
                <div class="profile-social">
                    <ul>
                        <li><a href="#">{{musician.facebook}} Test</a></li>
                        <li><a href="#">{{musician.spotify}} Test2</a></li>
                        <li><a href="#">{{musician.soundcloud}} Test3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>

{% endblock %}