{% extends "layout.html" %}

{% block content %}
{% macro render_field(field, placeholder=None) %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
{% endmacro %}

<div style="width: 80%">
  <div>
    <legend>Sign up</legend>
    {{error}}
    <form method="POST" accept-charset="UTF-8" role="form">
        {{ form.csrf_token }}
        {{ render_field(form.role, class_="uk-input") }}
        {{ render_field(form.name, placeholder="Name", autofocus="") }}
        {{ render_field(form.email, placeholder="Email") }}
        {{ render_field(form.password, placeholder="Password") }}
        {{ render_field(form.confirm_password, placeholder="Confirm password") }}
      <button type="submit" name="submit">Submit</button>
    </form>  
  </div>
</div>

{% endblock %}