{% extends "layout.html" %}

{% block content %}
    <header class="home-page-header">
        <div class="home-page-wrapper">
            <div class="describing-gif"></div>
            <article class="widget">
                <h2>What Assonance is about?</h2>
                <p>The purpose of the app is to create a web portal that would allow musicians and bands to connect with each other for mutual rehearsals and subsequent partnership.</p>
                <p>Users may create notifications in order to declare that they are looking for musicians/band.</p>
                <p>Published notifications can be answered by other users via applying for them. Thereafter publishers may see and loop through acquired applications.</p> 
                <p><small>Origin of the gif-image: <a href="https://i.gifer.com/4F4O.gif" target="__blank"><code>https://i.gifer.com/4F4O.gif</code></a></small></p>   
            </article>
        </div>
    </header>
{% endblock %}