<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/buttons.css')}}" rel="stylesheet">
    <title>Assonance</title>
</head>
<body>
  
  <aside class="side-navbar nav-pos" id="sidebar">
    <ul class="nav flex-column text-white w-100">
      <a href="/" class="nav-link h3 text-white">
        <i class="bx bx-music"></i> Assonance
      </a>
      <a href="/notifications" class="nav-link">
        <i class="bx bx-notification"></i>
        <span class="mx-2">Notifications</span>
      </li>
      {% if session["musician"] or session["band"] or session["admin"] %}
        <a href="/applications/{{session.user_id}}" class="nav-link">
          <i class="bx bx-note"></i>
          <span class="mx-2">Applications</span>
        </a>
        <a href="/logout" class="nav-link">
          <i class="bx bx-log-out"></i>
          <span class="mx-2">Log out</span>
        </a>
      {% else %}
        <a href="/login" class="nav-link">
          <i class="bx bx-log-in"></i>
          <span class="mx-2">Log in</span>
        </a>
        <a href="/signup" class="nav-link">
          <i class="bx bx-door-open"></i>
          <span class="mx-2">Sign up</span>
        </a>
      {% endif %}
    </ul>
    <a href="https://github.com/IlmastMaksim" target="_blank" class="w-100 mb-5 copyright">
      © 2021 Maksim Ilmast
    </a>
  </aside>
  <button id="menu-btn" class="btn menu-btn"><i class="bx bx-menu"></i></button>
  <main id="main-container" class="main-container">
    {% block content %}

    {% endblock %}
  </main>

<script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>