{% extends "layout.html" %}

{% block content %}

<section class="profile-section">
    <header class="profile-header">
        <h2>{{user.title}}</h2>
        <div class="profile-avatar">
            <span class="profile-avatar-char">{{user.name|first|capitalize}}</span>
        </div>
        <h4>{{user.role|capitalize}}</h4>
        <span>Member since: {{user.date_created}}</span>
    </header>

    <figure class="profile-info-section">
        <h2>About</h2>
        <div class="profile-info">
            <div class="profile-user-info">
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            Name
                        </div>
                        <div class="profile-user-details-value">
                            {{user.name}}
                        </div>
                    </div>
                    <div class="profile-user-details clearfix">
                        <div class="profile-user-details-label">
                            Email
                        </div>
                        <div class="profile-user-details-value">
                            {{user.email}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
</section>

{% endblock %}